USE [IndigoInventory]
GO
/****** Object:  StoredProcedure [dbo].[spAPVendorsListWithCode]    Script Date: 11/6/2025 6:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 13-Feb-2025
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spAPVendorsListWithCode]
	@CountryID int
AS
BEGIN
	SELECT 
		APVendorID, 
		APVendorCode + '    ' + APVendorName DisplayText 
	FROM
		APVendor
WHERE 
	CompanyID =  @CountryID AND
	ISNULL(OnHold,0) = 0

ORDER BY APVendorName
		
END

go

exec spAPVendorsListWithCode 1
