USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spBKBankTransSearchList]    Script Date: 7/12/2024 5:36:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spDVReceiptSearchList')
	DROP PROC spDVReceiptSearchList
go

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 04-Sep-2024
-- Description:	
-- ==========================================================================================

create procedure [dbo].[spDVReceiptSearchList]
	@CompanyID int
AS
BEGIN

	SELECT        
		DVApplicationForm.CompanyID,
		DVProject.ProjectName, 
		DVUnit.UnitNo, 
		DVApplicationForm.ApplicationFormID, 
		DVApplicationForm.ProjectID, 
		DVApplicationForm.UnitID, 
		DVReceipt.DVReceiptDate,
		DVReceipt.DVReceiptID, 
		SUM(DVReceiptDetail.Amount) AmountReceived

	FROM DVApplicationForm 
		INNER JOIN DVProject ON DVApplicationForm.ProjectID = DVProject.ProjectID 
		INNER JOIN DVUnit ON DVApplicationForm.UnitID = DVUnit.UnitID AND DVProject.ProjectID = DVUnit.ProjectID 
		INNER JOIN DVReceipt ON DVApplicationForm.ApplicationFormID = DVReceipt.ApplicationFormID 
		INNER JOIN DVReceiptDetail ON DVReceipt.DVReceiptID = DVReceiptDetail.DVReceiptID
	Group by 
		DVApplicationForm.CompanyID,
		DVProject.ProjectName, 
		DVUnit.UnitNo, 
		DVApplicationForm.ApplicationFormID, 
		DVApplicationForm.ProjectID, 
		DVApplicationForm.UnitID,
		DVReceipt.DVReceiptDate,
		DVReceipt.DVReceiptID
	HAVING 
		DVApplicationForm.CompanyID = @CompanyID AND
		(DVApplicationForm.ProjectID = @ProjectID OR @ProjectID IS NULL) AND
		(DVApplicationForm.UnitID = @UnitID OR @UnitID IS NULL) 

	ORDER BY 
		DVApplicationForm.CompanyID,
		DVProject.ProjectName, 
		DVUnit.UnitNo, 
		DVApplicationForm.ApplicationFormID, 
		DVApplicationForm.ProjectID, 
		DVApplicationForm.UnitID,
		DVReceipt.DVReceiptDate

END

