USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spBKBankTransDetailRows]    Script Date: 7/12/2024 5:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 22-Jun-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spBKBankTransDetailRows]
	@BankTransID int
AS
BEGIN

	SET	NOCOUNT ON;
	
	SELECT 
	  td.BankTransDetID,
	   td.BankTransID,
	   td.BankTransTypeID,
	   td.TransDescription,
	   td.DocumentRef,
	   td.IsPost,
	   td.A1,
	   td.A2,
	   td.A3,
	   td.Dr,
	   td.Cr,
	   td.APVendorID,
	   td.CreatedBy,
	   td.CreatedAt,
	   td.ModifiedBy,
	   td.ModifiedAt,
	   td.CompanyID

  FROM BKBankTransDetail td
	INNER JOIN BKBankTrans t ON td.BankTransID = t.BankTransID
	INNER JOIN BKBankTransType btt ON btt.BankTransTypeID = td.BankTransTypeID

  WHERE 
	td.BankTransID = @BankTransID

END

 