USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spDocumentListByApplication]    Script Date: 10/14/2024 2:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Author:		Imran Amin
-- Create date: 08-Oct-2024
-- Description:	
-- ==========================================================================================
-- ------------ Modification History --------------------------------------------------------
-- Author	Date		Details
-- ------   ----        -------
-- ------------------------------------------------------------------------------------------
ALTER PROCEDURE [dbo].[spDocumentListByApplication]
	@ApplicationFormID int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		d.DocumentID
	,	d.ApplicationFormID
	,	d.DocumentTypeID
	,	t.DocumentTypeName
	,	d.DocumentName
	,	d.DocumentPath
	,	d.DocumentDescription
	,	d.DocumentDate
	,	d.CreatedAt
	,	d.CreatedBy
	,	d.ModifiedAt
	,	d.ModifiedBy
	,	d.CompanyID
	FROM  DVDocument d		
		INNER JOIN DVDocumentType t ON d.DocumentTypeID = t.DocumentTypeID
	WHERE 
		ApplicationFormID = @ApplicationFormID
	ORDER BY
		d.DocumentTypeID
	,	d.DocumentID	


END

go

exec spDocumentListByApplication 7

