IF EXISTS (SELECT * FROM sysObjects o WHERE o.name = 'spDVOBillingSearchList')
	DROP PROC spDVOBillingSearchList
go


-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 6-Dec-2024
-- Description:	
-- ==========================================================================================

CREATE procedure [dbo].[spDVOBillingSearchList]
	@CompanyID int,
	@StartDate date,
	@EndDate date,
	@ProjectID int=null,
	@UnitID int=null

AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT        
		dbo.DVOBilling.BillingID, 
		dbo.DVOBilling.BillingDate, 
		dbo.DVProject.ProjectName, 
		dbo.DVUnit.UnitNo, 		
		SUM(dbo.DVOBillingDetail.Amount) Amount

	FROM dbo.DVOBilling LEFT JOIN
		 dbo.DVOBillingDetail ON dbo.DVOBilling.BillingID = dbo.DVOBillingDetail.BillingID INNER JOIN
         dbo.DVApplicationForm ON dbo.DVOBilling.ApplicationFormID = dbo.DVApplicationForm.ApplicationFormID INNER JOIN
         dbo.DVProject ON dbo.DVApplicationForm.ProjectID = dbo.DVProject.ProjectID INNER JOIN
         dbo.DVUnit ON dbo.DVApplicationForm.UnitID = dbo.DVUnit.UnitID AND dbo.DVProject.ProjectID = dbo.DVUnit.ProjectID 

	WHERE 
		dbo.DVOBilling.CompanyID = @CompanyID AND
		(dbo.DVApplicationForm.ProjectID = @ProjectID OR @ProjectID IS NULL) AND
		(dbo.DVApplicationForm.UnitID = @UnitID OR @UnitID IS NULL) AND
		(dbo.DVOBilling.BillingDate >= @StartDate AND dbo.DVOBilling.BillingDate <= @EndDate) 

	GROUP BY
		dbo.DVOBilling.BillingID, 
		dbo.DVOBilling.BillingDate, 
		dbo.DVProject.ProjectName, 
		dbo.DVUnit.UnitNo
	ORDER BY 
		dbo.DVOBilling.BillingDate 

END

GO

exec spDVOBillingSearchList 3,'2024-01-01','2024-01-9'





