USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spDVGetApplicationForm]    Script Date: 1/2/2025 12:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Author:		Imran Amin
-- Create date: 15-Aug-2024
-- Description:	
-- ==========================================================================================
-- ------------ Modification History --------------------------------------------------------
-- Author	Date		Details
-- ------   ----        -------
-- ------------------------------------------------------------------------------------------
ALTER PROCEDURE [dbo].[spDVGetApplicationForm]
	
	@ApplicationFormID int
AS

BEGIN
SET	NOCOUNT ON;
SELECT        
	DVApplicationForm.ApplicationFormID, 
	DVApplicationForm.ProjectID, 
	DVApplicationForm.ApplicationFormNo, 
	DVApplicationForm.ApplicationFormDate, 
	DVApplicationForm.UnitID, 
	DVApplicationForm.Price, 
	DVApplicationForm.CreatedAt, 
	DVApplicationForm.CreatedBy, 
	DVApplicationForm.ModifiedAt, 
	DVApplicationForm.ModifiedBy, 
	DVApplicationForm.CompanyID, 
	DVUnit.UnitNo, 
	DVUnit.UnitNo  + '  ' + ISNULL((SELECT TOP 1 NAME FROM DVApplicant WHERE ApplicationFormID = DVApplicationForm.ApplicationFormID),'') UnitApplicant,
	DVUnit.UnitTypeID, 
	DVUnit.FloorNo, 
	DVUnit.SQFT, 
	DVUnit.Cancelled,
	DVUnit.DVArrangementTypeID,
	DVApplicationForm.TokenMoney,
	DVUnitType.UnitTypeName, 
	DVProject.ProjectName,
	ISNULL(DVApplicationForm.IsActive,0) 'IsActive',
	ISNULL(DVApplicationForm.PossessionStatus,0) 'PossessionStatus',
	DVApplicationForm.A4

FROM            DVApplicationForm 
	INNER JOIN  DVProject ON DVApplicationForm.ProjectID = DVProject.ProjectID 
	INNER JOIN  DVUnit ON DVApplicationForm.UnitID = DVUnit.UnitID AND DVProject.ProjectID = DVUnit.ProjectID 
	INNER JOIN	DVUnitType ON DVUnit.UnitTypeID = DVUnitType.UnitTypeID
WHERE 
	DVApplicationForm.ApplicationFormID = @ApplicationFormID

END
go

exec spDVGetApplicationForm 7
