IF EXISTS (SELECT * FROM sysObjects o WHERE o.name = 'spDVApplicationFormSearchList')
	DROP PROC spDVApplicationFormSearchList
go
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 16-Aug-2024
-- Description:	
-- ==========================================================================================

create procedure [dbo].[spDVApplicationFormSearchList]
	@CompanyID int
AS
BEGIN

	SET	NOCOUNT ON;

	SELECT 
		f.ApplicationFormID, 
		f.ApplicationFormNo, 
		f.ApplicationFormDate, 
		p.ProjectName, 
		u.FloorNo,
		u.UnitNo,
		(SELECT top 1 Name FROM DVApplicant WHERE ApplicationFormID = f.ApplicationFormID order by ApplicantID asc) Applicant
		
	FROM DVApplicationForm f 
		INNER JOIN DVProject p ON f.ProjectID = p.ProjectID
		INNER JOIN DVUnit u ON f.UnitID = u.UnitID
	WHERE 
		f.CompanyID = @CompanyID
END

