USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spDVApplicantRows]    Script Date: 8/15/2024 4:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 09-Aug-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spDVApplicantRows]
	@ApplicationFormID int	
AS
BEGIN

	SET	NOCOUNT ON;

	SELECT ApplicantID
      ,ISNULL(ApplicationFormID,0) 'ApplicationFormID'
      ,ISNULL(Name,'') 'Name'
      ,ISNULL(GenderID,0) 'GenderID'
      ,ISNULL(HusbandFather,'') 'HusbandFather'
      ,ISNULL(NICOP_CNIC,'') 'NICOP_CNIC'
	  ,ISNULL(Passport,'') 'Passport'
      ,ISNULL(HouseNo,'') 'HouseNo'
      ,ISNULL(StreetArea,'') 'StreetArea'
      ,ISNULL(Area,'') 'Area'
      ,ISNULL(City,'') 'City'
      ,ISNULL(District,'') 'District'
      ,ISNULL(Division,'') 'Division'
      ,ISNULL(ProvinceID,0) 'ProvinceID'
      ,ISNULL(Country,'') 'Country'
      ,ISNULL(CorrespondenceAdressHouseNo,'') 'CorrespondenceAdressHouseNo'
      ,ISNULL(StreetArea2,'') 'StreetArea2'
      ,ISNULL(City2,'') 'City2'
      ,ISNULL(Country2,'') 'Country2'
      ,ISNULL(PhoneNo,'') 'PhoneNo'
      ,ISNULL(Phone2,'') 'Phone2'
      ,ISNULL(Phone3,'') 'Phone3'
      ,ISNULL(Email,'') 'Email'
      ,ISNULL(Profession,'') 'Profession'
      ,ISNULL(SubProfession,'') 'SubProfession'
      ,ISNULL(Living,'') 'Living'
      ,ISNULL(Citizen,'') 'Citizen'
      ,ISNULL(Tax,'') 'Tax'
      ,ISNULL(NomioneeName,'') 'NomioneeName'
      ,ISNULL(NomineeFatherHusbandName,'') 'NomineeFatherHusbandName'
      ,ISNULL(Nominee_NICOP_CNIC,'') 'Nominee_NICOP_CNIC'
      ,ISNULL(Relation,'') 'Relation'
	  ,ISNULL(ImagePath,'') 'ImagePath'
      ,ISNULL(CreatedAt,'1900-01-01') 'CreatedAt'
      ,ISNULL(CreatedBy,0) 'CreatedBy'
      ,ISNULL(ModifiedAt,'1900-01-01') 'ModifiedAt'
      ,ISNULL(ModifiedBy,0) 'ModifiedBy'
      ,ISNULL(CompanyID,0) 'CompanyID'
  FROM dbo.DVApplicant
  WHERE ApplicationFormID = @ApplicationFormID

END
go 

exec spDVApplicantRows 10