USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spGetMenuPages]    Script Date: 7/12/2024 5:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 1-Oct-2022
-- Description:	
-- ==========================================================================================

ALTER Procedure [dbo].[spGetMenuPages]
	@CompanyID int,
	@UserID int
AS


select 
	p.ModuleNo, 
	p.PageNo, 
	p.PageName, 
	p.PageUrl, 
	r.IsViewAllowed  
from 
	SecPagesRights r 
		inner join SecPages p on r.ModuleNo = p.ModuleNo and r.PageNo = p.PageNo 
where CompanyID = @CompanyID and UserID = @UserID and r.IsViewAllowed = 1



