USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spGLVoucherSearchList]    Script Date: 7/12/2024 5:36:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 20-Jun-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spGLVoucherSearchList]
	@CompanyID int=null,
	@VoucherTypeID int=null
AS
BEGIN

	SET	NOCOUNT ON;

	SELECT
		v.GLVoucherID,
		t.VTYPE,
		v.VoucherNumber,
		v.VoucherDate,
		v.FiscalYear		
	FROM 
		GLVoucher v 
	INNER JOIN VoucherType t ON v.VoucherTypeID = t.VoucherTypeID
	WHERE 
		(v.CompanyID = @CompanyID OR @CompanyID IS NULL) AND
		(v.VoucherTypeID = @VoucherTypeID OR @VoucherTypeID IS NULL)


END


