USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spGLVoucherDetailRows]    Script Date: 7/12/2024 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 22-Jun-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spGLVoucherDetailRows]
	@CompanyID int,
	@GLVoucherID int
AS
BEGIN

	SET	NOCOUNT ON;
	
	SELECT 
	   vd.GLVoucherDetailID
      ,vd.GLVoucherID
      ,vd.GLAccountID
	  ,a.GLAccountNo
	  ,a.Description
      ,vd.GLNarration
      ,vd.Debit
      ,vd.Credit
      ,vd.CreatedBy
      ,vd.CreatedAt
      ,vd.ModifiedBy
      ,vd.ModifiedAt
      ,vd.CompanyID
  FROM GLVoucherDetail vd
	INNER JOIN GLAccount a ON vd.GLAccountID = a.GLAccountID  
  WHERE 
	vd.CompanyID = @CompanyID AND 
	vd.GLVoucherID = @GLVoucherID 
ORDER BY 
	  vd.GLVoucherDetailID

END
go

select * from GLAccount where  GLAccountID = 53

exec  spGLVoucherDetailRows 1, 3953

select 
	d.GLVoucherID,
	v.VoucherDate, 
	v.CreatedBy, 
	v.ModifiedBy, 
	SUM(isnull(d.Debit,0)) Debit,
	SUM( isnull(d.Credit,0)) Credit
from 
	GLVoucherDetail d inner join GLVoucher v on d.GLVoucherID = v.GLVoucherID 
where d.CompanyID = 1 --and d.GLVoucherID = 43
group by 
	d.GLVoucherID,v.VoucherDate, v.CreatedBy,v.ModifiedBy
having 
	SUM(isnull(Debit,0)) <> SUM( isnull(Credit,0))

select * from GLVoucher where GLVoucherID = 3953
select * from GLVoucherDetail where GLVoucherID = 3953
select * from GLAccount where Description like 'SHUTTERING'
09-10-40-2201 GLAccountID = 3374
select sum(Debit) Debit, SUM(Credit) Credit, sum(Debit) - SUM(Credit)  from GLVoucherDetail where GLVoucherID = 3953