
IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spINGoodsReceiptNoteSearchList')
	DROP PROC spINGoodsReceiptNoteSearchList
go

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 21-Jan-2026
-- Description:	
-- ==========================================================================================

create procedure [dbo].[spINGoodsReceiptNoteSearchList]
	@CompanyID int,
	@UserID int = NULL,
	@FromDate date = NULL,
	@ToDate date = NULL,
	@ItemID bigint = null
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT
		grn.GoodsReceiptNoteID,
		grn.APVendorID,
		grn.PurchaseOrderID,
		grn.GoodsReceiptNotesDate,
		p.ProjectName,
		grn.Remarks,
		ISNULL(grn.IsPosted,0) 'IsPosted',
		grn.CompanyID
	FROM dbo.INGoodsReceiptNote grn
	INNER JOIN INGoodsReceiptNoteDetail grnd ON grn.GoodsReceiptNoteID = grnd.GoodsReceiptNoteID
	left JOIN INProject p ON grn.ProjectID = p.ProjectID


	WHERE grn.CompanyID = @CompanyID AND
		(grn.CreatedBy = @UserID OR @UserID IS NULL) AND
		(CAST(grn.GoodsReceiptNotesDate as date) >= @FromDate OR @FromDate IS NULL) AND
		(CAST(grn.GoodsReceiptNotesDate as date) <= @ToDate OR @ToDate IS NULL) AND
		(grnd.ItemID = @ItemID OR @ItemID IS NULL)
	ORDER BY grn.GoodsReceiptNotesDate DESC
	
END

go

exec spINGoodsReceiptNoteSearchList 1,null,null,null,762
select * from INGoodsReceiptNoteDetail where ItemID = 762


