IF EXISTS (SELECT * FROM sysObjects o WHERE o.name = 'spINItemSearchList')
	DROP PROC spINItemSearchList
go

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 08-Apr-2025
-- Description:	
-- ==========================================================================================

CREATE procedure [dbo].[spINItemSearchList]
	@ItemCode varchar(50)='',
	@GroupID int=null,
	@Description nvarchar(500)=''
AS
BEGIN

	SET	NOCOUNT ON;

	SELECT        
		c.CategoryID, 
		c.Name 'Category', 
		g.GroupID, 
		g.Name 'Group', 
		s.SizeID, 
		s.Name 'Size', 
		uom.UOMID, 
        uom.Name 'UOM', 
		i.ItemID, 
		i.ItemCode, 
		i.Description, 
		i.Freeze
		--i.LastRate,
		--i.QtyInHand
	FROM dbo.INItem i
		INNER JOIN dbo.INCategory c ON c.CategoryID = i.CategoryID 
		INNER JOIN dbo.INGroup g ON i.GroupID = g.GroupID 
		left JOIN dbo.INSize s ON i.SizeID = s.SizeID 
		INNER JOIN dbo.INUnitOfMeasurement uom ON i.UOMID = uom.UOMID	
	WHERE
		(i.ItemCode = @ItemCode OR ISNULL(@ItemCode,'')='') AND
		(i.Description like '%' + @Description + '%' OR ISNULL(@Description,'')='') AND
		(i.GroupID = @GroupID OR @GroupID IS NULL)
		--(i.SizeID = @SizeID OR @SizeID IS NULL) AND 
		--(i.UOMID = @UOMID OR @UOMID IS NULL) AND 		
		--(i.GroupID = @GroupID OR @GroupID IS NULL) AND
		--(i.CategoryID = @CategoryID OR @CategoryID IS NULL)

END


Go









