

IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spINRegisterDocumentPrint')
    DROP PROC spINRegisterDocumentPrint
GO

-- ==========================================================================================
-- Created By:   Imran Amin
-- Create date:  01-Sep-2026
-- Description:  Track PR/PO/GRN printing status
--
-- PR approval:
--      SubmitedByMD IS NOT NULL AND SubmitedAtMD IS NOT NULL
--
-- PO approval:
--      ApprovedBy IS NOT NULL AND ApprovedAt IS NOT NULL
--
-- Printing rules:
--      1. Unapproved PR/PO       -> Empty status
--      2. Approver's first print -> Original
--      3. Approver subsequent    -> Reprinted 1, Reprinted 2, ...
--      4. Other user's print     -> Copy 1, Copy 2, ...
-- ==========================================================================================
CREATE PROCEDURE [dbo].[spINRegisterDocumentPrint]
    @DocumentType    VARCHAR(4),   -- 'PR' | 'PO' | 'GRN'
    @DocumentID      BIGINT,
    @PrintedByUserID INT           -- SecUsers.UsersID; pass 0 when user cannot be identified
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ApprovedBy INT = NULL;
    DECLARE @IsApproved BIT = 0;
    DECLARE @IsApprover BIT = 0;

    DECLARE @Label VARCHAR(50);
    DECLARE @Count INT;
    DECLARE @RowID BIGINT;
    DECLARE @Now DATETIME = GETDATE();

    -- ============================================================
    -- Resolve approval information
    -- ============================================================

    IF @DocumentType = 'PR'
    BEGIN
        SELECT
            @ApprovedBy = SubmitedByMD,
            @IsApproved =
                CASE
                    WHEN SubmitedByMD IS NOT NULL
                     AND SubmitedAtMD IS NOT NULL
                    THEN 1
                    ELSE 0
                END
        FROM dbo.INPurchaseRequisition
        WHERE RequestID = @DocumentID;
    END
    ELSE IF @DocumentType = 'PO'
    BEGIN
        SELECT
            @ApprovedBy = ApprovedBy,
            @IsApproved =
                CASE
                    WHEN ApprovedBy IS NOT NULL
                     AND ApprovedAt IS NOT NULL
                    THEN 1
                    ELSE 0
                END
        FROM dbo.INPurchaseOrder
        WHERE PurchaseOrderID = @DocumentID;
    END
    ELSE IF @DocumentType = 'GRN'
    BEGIN
        -- GRN does not have the PR/PO approval rule.
        -- Treat the document as approved and use the existing
        -- print tracking logic.
        SET @IsApproved = 1;

        SELECT
            @ApprovedBy = CreatedBy
        FROM dbo.INGoodsReceiptNote
        WHERE GoodsReceiptNoteID = @DocumentID;
    END

    -- ============================================================
    -- If PR/PO is not approved, return empty status
    -- ============================================================

    IF @DocumentType IN ('PR', 'PO')
       AND @IsApproved = 0
    BEGIN
        SELECT
            '' AS PrintLabel,
            ISNULL(
                (
                    SELECT u.Name
                    FROM dbo.SecUsers u
                    WHERE u.UsersID = @PrintedByUserID
                ),
                '(unknown)'
            ) AS PrintedByName;

        RETURN;
    END

    -- ============================================================
    -- Determine whether current user is the approver
    -- ============================================================

    SET @IsApprover =
        CASE
            WHEN @PrintedByUserID <> 0
             AND @ApprovedBy IS NOT NULL
             AND @PrintedByUserID = @ApprovedBy
            THEN 1
            ELSE 0
        END;

    BEGIN TRAN;

        -- ========================================================
        -- One print counter per document + printing user
        -- ========================================================

        SELECT
            @RowID = PrintLogID,
            @Count = PrintCount
        FROM dbo.INDocumentPrintLog WITH (UPDLOCK, HOLDLOCK)
        WHERE DocumentType = @DocumentType
          AND DocumentID   = @DocumentID
          AND PrintedBy    = @PrintedByUserID;

        -- ========================================================
        -- First print by this user
        -- ========================================================

        IF @RowID IS NULL
        BEGIN
            SET @Count = 1;

            INSERT INTO dbo.INDocumentPrintLog
            (
                DocumentType,
                DocumentID,
                PrintedBy,
                PrintCount,
                FirstPrintedAt,
                PrintedAt,
                IsOwnerPrint,
                PrintLabel
            )
            VALUES
            (
                @DocumentType,
                @DocumentID,
                @PrintedByUserID,
                1,
                @Now,
                @Now,
                @IsApprover,
                ''
            );

            SET @RowID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- ====================================================
            -- Subsequent print by this user
            -- ====================================================

            SET @Count = @Count + 1;

            UPDATE dbo.INDocumentPrintLog
            SET
                PrintCount   = @Count,
                PrintedAt    = @Now,
                IsOwnerPrint = @IsApprover
            WHERE PrintLogID = @RowID;
        END

        -- ========================================================
        -- Determine print label
        -- ========================================================

        SET @Label =
            CASE

                -- Approver's first print
                WHEN @IsApprover = 1
                 AND @Count = 1
                THEN 'Original'

                -- Approver's subsequent prints
                WHEN @IsApprover = 1
                THEN 'Reprinted ' + CAST(@Count - 1 AS VARCHAR(10))

                -- Any other user
                ELSE
                    'Copy ' + CAST(@Count AS VARCHAR(10))

            END;

        -- ========================================================
        -- Save final print label
        -- ========================================================

        UPDATE dbo.INDocumentPrintLog
        SET PrintLabel = @Label
        WHERE PrintLogID = @RowID;

    COMMIT TRAN;

    -- ============================================================
    -- Return print information
    -- ============================================================

    SELECT
        @Label AS PrintLabel,
        ISNULL(
            (
                SELECT u.Name
                FROM dbo.SecUsers u
                WHERE u.UsersID = @PrintedByUserID
            ),
            '(unknown)'
        ) AS PrintedByName;

END
GO

----IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spINRegisterDocumentPrint')
----	DROP PROC spINRegisterDocumentPrint
----go

------ ==========================================================================================
------ Created By:	Imran Amin
------ Create date: 01-Sep-2026
------ Description:	
------ ==========================================================================================
----CREATE PROCEDURE [dbo].[spINRegisterDocumentPrint]
----    @DocumentType    VARCHAR(4),   -- 'PR' | 'PO' | 'GRN'
----    @DocumentID      BIGINT,
----    @PrintedByUserID INT           -- SecUser.UsersID ; pass 0 when the user cannot be identified
----AS
----BEGIN
----    SET NOCOUNT ON
----    SET XACT_ABORT ON

----    DECLARE @CreatedBy INT
----    DECLARE @IsOwner   BIT
----    DECLARE @Label     VARCHAR(50)
----    DECLARE @Count     INT
----    DECLARE @RowID     BIGINT
----    DECLARE @Now       DATETIME = GETDATE()

----    -- Resolve the document creator for the given type
----    IF @DocumentType = 'PR'
----        SELECT @CreatedBy = CreatedBy FROM dbo.INPurchaseRequisition WHERE RequestID         = @DocumentID
----    ELSE IF @DocumentType = 'PO'
----        SELECT @CreatedBy = CreatedBy FROM dbo.INPurchaseOrder       WHERE PurchaseOrderID   = @DocumentID
----    ELSE IF @DocumentType = 'GRN'
----        SELECT @CreatedBy = CreatedBy FROM dbo.INGoodsReceiptNote    WHERE GoodsReceiptNoteID = @DocumentID

----    SET @IsOwner = CASE
----                       WHEN @PrintedByUserID <> 0 AND @CreatedBy IS NOT NULL AND @PrintedByUserID = @CreatedBy
----                       THEN 1 ELSE 0
----                   END

----    BEGIN TRAN

----        -- One row per (document, user). Lock it (or the key range) for the duration.
----        SELECT @RowID = PrintLogID, @Count = PrintCount
----        FROM dbo.INDocumentPrintLog WITH (UPDLOCK, HOLDLOCK)
----        WHERE DocumentType = @DocumentType
----          AND DocumentID   = @DocumentID
----          AND PrintedBy    = @PrintedByUserID

----        IF @RowID IS NULL
----        BEGIN
----            SET @Count = 1
----            INSERT INTO dbo.INDocumentPrintLog
----                (DocumentType, DocumentID, PrintedBy, PrintCount, FirstPrintedAt, PrintedAt, IsOwnerPrint, PrintLabel)
----            VALUES
----                (@DocumentType, @DocumentID, @PrintedByUserID, 1, @Now, @Now, @IsOwner, '')
----            SET @RowID = SCOPE_IDENTITY()
----        END
----        ELSE
----        BEGIN
----            SET @Count = @Count + 1
----            UPDATE dbo.INDocumentPrintLog
----            SET PrintCount   = @Count,
----                PrintedAt    = @Now,
----                IsOwnerPrint = @IsOwner
----            WHERE PrintLogID = @RowID
----        END

----        SET @Label = CASE
----                         WHEN @IsOwner = 1 AND @Count <= 1 THEN 'Original'
----                         WHEN @IsOwner = 1                 THEN 'Reprinted ' + CAST(@Count - 1 AS VARCHAR(10))
----                         ELSE 'Copy ' + CAST(@Count AS VARCHAR(10))
----                     END

----        UPDATE dbo.INDocumentPrintLog
----        SET PrintLabel = @Label
----        WHERE PrintLogID = @RowID

----    COMMIT TRAN

----    SELECT
----        @Label AS PrintLabel,
----        ISNULL((SELECT u.Name FROM dbo.SecUsers u WHERE u.UsersID = @PrintedByUserID), '(unknown)') AS PrintedByName
----END

