IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spINPurchaseRequisitionDetailRows')
	DROP PROC spINPurchaseRequisitionDetailRows
go

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 11-Apr-2025
-- Description:	
-- ==========================================================================================

CREATE procedure spINPurchaseRequisitionDetailRows
	@RequestID int
AS
BEGIN

	SET	NOCOUNT ON;
	
	SELECT 
		  d.RequestDetailID,
		  d.RequestID,
		  d.ItemID,
		  i.ItemCode,
		  i.Description 'Item',
		  s.Name 'Size',
		  u.Name 'Unit',		  
		  d.RequestedQty,
		  d.ApprovedQty,
		  d.QtyInHand,
		  d.LastRate,
		  d.Balance,
		  d.Remarks,	
		  d.CreatedAt,
		  d.CreatedBy,
		  d.ModifiedAt,
		  d.ModifiedBy,
		  d.CompanyID
	FROM INPurchaseRequisitionDetail d
		INNER JOIN INItem i ON d.ItemID = i.ItemID
		INNER JOIN INUnitOfMeasurement u ON i.UOMID = u.UOMID
		LEFT JOIn INSize s ON i.SizeID = s.SizeID
	
  WHERE 
	
	d.RequestID = @RequestID

END

go

exec spINPurchaseRequisitionDetailRows 2



