
IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spINGoodsReceiptNoteWithoutPOSearchList')
	DROP PROC spINGoodsReceiptNoteWithoutPOSearchList
go


-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 26-Nov-2025
-- Description:	
-- ==========================================================================================

CREATE procedure [dbo].[spINGoodsReceiptNoteWithoutPOSearchList]
	@CompanyID int,
	@UserID int = NULL,
	@FromDate date = NULL,
	@ToDate date = NULL
AS
BEGIN
	
	SET NOCOUNT ON;	

	SELECT DISTINCT 
		grn.GoodsReceiptNoteID,
		grn.GoodsReceiptNotesDate,
		grn.APVendorID,
		p.ProjectName,
		grn.Remarks,
		ISNULL(grn.IsPosted, 0) AS IsPosted,
		grn.CompanyID
	FROM dbo.INGoodsReceiptNote grn
		LEFT JOIN INPurchaseOrder po 
			ON grn.GoodsReceiptNoteID = po.GoodsReceiptNoteID
		INNER JOIN INProject p 
			ON grn.ProjectID = p.ProjectID
	WHERE grn.CompanyID = @CompanyID
		AND po.GoodsReceiptNoteID IS NULL AND   -- NOT EQUAL condition
			grn.IsPosted = 1 AND
			grn.PurchaseOrderID is null AND
			(grn.CreatedBy = @UserID OR @UserID IS NULL) AND
			(CAST(grn.GoodsReceiptNotesDate as date) >= @FromDate OR @FromDate IS NULL) AND
			(CAST(grn.GoodsReceiptNotesDate as date) <= @ToDate OR @ToDate IS NULL)

	
	ORDER BY grn.GoodsReceiptNotesDate DESC;

END

go

exec spINGoodsReceiptNoteWithoutPOSearchList 1