IF EXISTS (SELECT * FROM sysObjects o WHERE o.name = 'spINGRNItemsDropdown')
	DROP PROC spINGRNItemsDropdown
go

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 2-Apr-2025
-- Description:	
-- ==========================================================================================

CREATE procedure [dbo].[spINGRNItemsDropdown]
	@CompanyID int,
	@ProjectID int
AS
BEGIN

	SET NOCOUNT On;
	SELECT 
		CAST(PRDet.RequestDetailID as varchar(50)) + ',' + CAST(PRDet.ItemID as varchar(50)) 'ItemID', 
		i.Description + ' = ' + CAST(PRDet.Balance as varchar(500)) 'Description',
		PRDet.Balance
		
	FROM INPurchaseRequisitionDetail PRDet 
	INNER JOIN INPurchaseRequisition PR ON PRDet.RequestID = PR.RequestID
	INNER JOIN INItem i ON PRDet.ItemID = i.ItemID
	
	WHERE 
		PRDet.CompanyID = @CompanyID 
		AND	PR.ProjectID = @ProjectID 
		--AND PRDet.Balance > 0 
		AND PR.SubmitedByKPO > 0
		AND ISNULL(PR.CancelledBy,0) <= 0 
	ORDER BY i.Description
END

go 

exec spINGRNItemsDropdown 1,1













