
IF EXISTS (SELECT * FROM sysObjects o WHERE o.[name] = 'spINGRNItemsForPODropdown')
	DROP PROC spINGRNItemsForPODropdown
go
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 25-Nov-2025
-- Description:	
-- ==========================================================================================

create procedure [dbo].[spINGRNItemsForPODropdown]
	@GoodsReceiptNoteID bigint
AS
BEGIN

	SET NOCOUNT On;
	SELECT 

		CAST(grnd.RequestDetailID as varchar(50)) + ',' + CAST(grnd.ItemID as varchar(50)) 'ItemID', 
		i.Description 'Description'		
		
	FROM INGoodsReceiptNoteDetail grnd 
	INNER JOIN INGoodsReceiptNote grn ON grnd.GoodsReceiptNoteID = grn.GoodsReceiptNoteID
	INNER JOIN INItem i ON grnd.ItemID = i.ItemID
	
	WHERE 
		grnd.GoodsReceiptNoteID = @GoodsReceiptNoteID
	ORDER BY i.Description
END

