USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spLoginUser]    Script Date: 7/12/2024 5:36:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 24-Jul-2022
-- Description:	
-- ==========================================================================================


ALTER proc [dbo].[spLoginUser]
	@CompanyID int,
	@UserID int
		
AS
BEGIN

SELECT 
	u.UsersID, 
	u.username, 
	u.[Name], 
	c.CompanyID, 
	c.Name 'CompanyName',

	r.RoleID,
	r.RoleName

FROM SecUsers u 
	INNER JOIN  Company c ON u.CompanyID = c.CompanyID 
inner join SecRole r ON u.RoleID = r.RoleID
WHERE 
	u.CompanyID = @CompanyID AND
	u.UsersID = @UserID 
	

END



