

IF EXISTS (SELECT * FROM sysObjects o WHERE o.name = 'spRptGeneralLedgerOB')
	DROP PROC spRptGeneralLedgerOB
go

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 30-May-2025
-- Description:	
-- ==========================================================================================

CREATE procedure [dbo].[spRptGeneralLedgerOB]
	@CompanyID int,
	@StartDate date=null,
	@EndDate date=null,
	@StartGLAccountNo varchar(50)=null,
	@EndGLAccountNo varchar(50)=null

AS
BEGIN
	SET	NOCOUNT ON;

	SELECT 
		CompanyID,
		Company,
		GLAccountNo, 
		Description,
		VoucherDate,
		VTYPE,
		VoucherNumber,
		GLNarration,
		type, 
		Debit, 
		Credit, 
		Balance, 
		OB
	from
	(


SELECT 
		v.CompanyID,
		c.Name 'Company',
		a.GLAccountNo, 
		a.Description,
		'' VoucherDate,
		'' VTYPE,
		'' VoucherNumber,
		'' GLNarration,
		'ob' type, 
		0 Debit, 
		0 Credit, 
		SUM(isnull(d.Debit,0)) - SUM(isnull(d.Credit,0)) 'Balance', 
		SUM(isnull(d.Debit,0)) - SUM(isnull(d.Credit,0)) 'OB'

	FROM GLVoucher v 
		INNER JOIN GLVoucherDetail d on v.GLVoucherID = d.GLVoucherID and d.CompanyID = @CompanyID
		INNER JOIN GLAccount a ON d.GLAccountID = a.GLAccountID and a.CompanyID = @CompanyID
		INNER JOIN Company c on v.CompanyID = c.CompanyID and c.CompanyID = @CompanyID---- between '11-20-03-0101' and '11-20-03-0101'
	WHERE 
		v.CompanyID =  @CompanyID AND

		(LTRIM(RTRIM(a.GLAccountNo)) >= LTRIM(RTRIM(@StartGLAccountNo)) and LTRIM(RTRIM(a.GLAccountNo)) <= LTRIM(RTRIM(@EndGLAccountNo))
		OR (@StartGLAccountNo IS NULL AND @EndGLAccountNo IS NULL))	AND
		v.VoucherDate < @StartDate OR @StartDate IS NULL
	GROUP BY 
		v.CompanyID,
		c.Name,
		a.GLAccountNo,
		a.Description

	UNION ALL

	SELECT        
		c.CompanyID, 
		c.Name 'Company', 
		a.GLAccountNo 'GLAccountNo', 
		a.Description 'Description', 
		v.VoucherDate,
		vt.VTYPE,
		v.VoucherNumber,
		d.GLNarration,
		'trans' type,
		d.Debit 'Debit', 
		d.Credit 'Credit',
		(d.Debit - d.Credit) Balance,
		0 'OB'
	  
	FROM  GLVoucherDetail d 
		INNER JOIN GLVoucher v ON d.GLVoucherID = v.GLVoucherID  
		INNER JOIN GLAccount a ON d.GLAccountID = a.GLAccountID 
		INNER JOIN Company c ON v.CompanyID = c.CompanyID AND a.CompanyID = c.CompanyID 
		INNER JOIN VoucherType vt ON v.VoucherTypeID = vt.VoucherTypeID
	WHERE      
		c.CompanyID = @CompanyID AND 
		(LTRIM(RTRIM(a.GLAccountNo)) >= LTRIM(RTRIM(@StartGLAccountNo)) and LTRIM(RTRIM(a.GLAccountNo)) <= LTRIM(RTRIM(@EndGLAccountNo))
		OR (@StartGLAccountNo IS NULL AND @EndGLAccountNo IS NULL)) AND  
		((v.VoucherDate between @StartDate and @EndDate) OR (@StartDate IS NULL AND @EndDate IS NULL))

	) main
ORDER BY VoucherDate
END

go

--exec spRptGeneralLedgerOB 2,'2024-12-24','2025-05-29'--,'27-50-01-0101', '27-50-01-0101'


--select * from GLVoucher where VoucherDate <= '2024-12-24' 

exec spRptGeneralLedgerOB 2,'1/1/2025','7/18/2025','11-10-01-0101','11-10-01-0101'