USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spRptPaymentPlan]    Script Date: 9/11/2024 4:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Author:		Imran Amin
-- Create date: 10-Sep-2024
-- Description:	
-- ==========================================================================================
-- ------------ Modification History --------------------------------------------------------
-- Author	Date		Details
-- ------   ----        -------
-- ------------------------------------------------------------------------------------------
ALTER PROCEDURE [dbo].[spRptPaymentPlan]
	@PaymentPlanID int
AS
BEGIN
	SET NOCOUNT ON;	


	SELECT
		c.Name 'Company',
		ISNULL(p.PaymentPlanDate,GETDATE()) PaymentPlanDate,
		ISNULL(p.PaymentStartDate,GETDATE()) PaymentStartDate,
		ISNULL(p.PaymentPlanID,0) PaymentPlanID,
		ISNULL(d.PaymentPlanTypeID,0) PaymentPlanTypeID,
		f.ApplicationFormID,
		prj.ProjectName,
		f.ApplicationFormNo,
		ISNULL(f.ApplicationFormDate,getdate()) ApplicationFormDate,
		u.UnitNo,
		ut.UnitTypeName,
		u.FloorNo,
		ISNULL(u.SQFT,0) SQFT,
		ISNULL(f.Price,0) Price,
		ISNULL((u.SQFT * f.Price),0) UnitAmount,
		ISNULL(f.TokenMoney,0) TokenMoney,		
		d.PaymentPlanDetailID,
		d.PaymentPlanDetailDate,
		d.Percentage,
		t.PaymentPlanTypeCode,
		t.PaymentPlanTypeDesc,
		ISNULL(d.Amount,0) Amount
	FROM DVPaymentPlan p
		left JOIN DVPaymentPlanDetail d ON p.PaymentPlanID = d.PaymentPlanID
		INNER JOIN DVApplicationForm f ON p.ApplicationFormID = f.ApplicationFormID
		INNER JOIN DVPaymentPlanType t ON d.PaymentPlanTypeID = t.PaymentPlanTypeID
		INNER JOIN DVUnit u ON f.UnitID = u.UnitID
		INNER JOIN DVUnitType ut ON u.UnitTypeID = ut.UnitTypeID
		INNER JOIN DVProject prj ON f.ProjectID = prj.ProjectID

		INNER JOIN Company c  ON p.CompanyID = c.CompanyID
	WHERE 
		d.PaymentPlanID = @PaymentPlanID
	AND d.PaymentPlanDetailDate <> '2099-12-31'
END


go


exec spRptPaymentPlan 10


select * from DVPaymentPlan where PaymentPlanID = 10
select * from DVPaymentPlanDetail where PaymentPlanID = 10-- YEAR(PaymentPlanDetailDate) = 2099

select * from DVUnit 
