USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spRptDVApplication]    Script Date: 9/19/2024 4:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 12-Aug-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spRptDVApplication]
	@ApplicationFormID int	
AS
BEGIN

	SET	NOCOUNT ON;

	SELECT        
		f.ApplicationFormID, 
		f.ProjectID, 
		f.ApplicationFormNo, 
		f.ApplicationFormDate, 
		f.UnitID, 
		f.Price, 
		f.CreatedAt, 
		f.CreatedBy, 
		f.ModifiedAt, 
		f.ModifiedBy, 
		f.CompanyID, 
		u.UnitNo, 
		u.UnitTypeID, 
		u.FloorNo, 
		u.SQFT, 
		f.TokenMoney,
		ut.UnitTypeName, 
		p.ProjectName,
		p.ProjectDescription,
		p.ProjectAddress,
		p.ProjectLogoPath,
		f.IsActive

		,ISNULL(a.ApplicationFormID,0) 'ApplicationFormID_1'
		,ISNULL(a.Name,'') 'Name_1'
		,ISNULL(a.GenderID,0) 'GenderID_1'
		,ISNULL(a.HusbandFather,'') 'HusbandFather_1'
		,ISNULL(a.NICOP_CNIC,'') 'NICOP_CNIC_1'
		,ISNULL(a.Passport,'') 'Passport_1'
		,ISNULL(a.HouseNo,'') 'HouseNo_1'
		,ISNULL(a.StreetArea,'') 'StreetArea_1'
		,ISNULL(a.Area,'') 'Area_1'
		,ISNULL(a.City,'') 'City_1'
		,ISNULL(a.District,'') 'District_1'
		,ISNULL(a.Division,'') 'Division_1'
		,ISNULL(a.Province,'') 'Province_1'
		,ISNULL(a.Country,'') 'Country_1'
		,ISNULL(a.CorrespondenceAdressHouseNo,'') 'CorrespondenceAdressHouseNo_1'
		,ISNULL(a.StreetArea2,'') 'StreetArea2_1'
		,ISNULL(a.City2,'') 'City2_1'
		,ISNULL(a.Country2,'') 'Country2_1'
		,ISNULL(a.PhoneNo,'') 'PhoneNo_1'
		,ISNULL(a.Phone2,'') 'Phone2_1'
		,ISNULL(a.Phone3,'') 'Phone3_1'
		,ISNULL(a.Email,'') 'Email_1'
		,ISNULL(a.Profession,'') 'Profession_1'
		,ISNULL(a.SubProfession,'') 'SubProfession_1'
		,ISNULL(a.Living,'') 'Living_1'
		,ISNULL(a.Citizen,'') 'Citizen_1'
		,ISNULL(a.Tax,'') 'Tax_1'
		,ISNULL(a.NomioneeName,'') 'NomioneeName_1'
		,ISNULL(a.NomineeFatherHusbandName,'') 'NomineeFatherHusbandName_1'
		,ISNULL(a.Nominee_NICOP_CNIC,'') 'Nominee_NICOP_CNIC_1'
		,ISNULL(a.Relation,'') 'Relation_1'
		,ISNULL(a.ImagePath,'') 'ImagePath_1'
		,ISNULL(a.CreatedAt,'1900-01-01') 'CreatedAt_1'
		,ISNULL(a.CreatedBy,0) 'CreatedBy_1'
		,ISNULL(a.ModifiedAt,'1900-01-01') 'ModifiedAt_1'
		,ISNULL(a.ModifiedBy,0) 'ModifiedBy_1'
		,ISNULL(a.CompanyID,0) 'CompanyID_1'


		,ISNULL(b.ApplicationFormID,0) 'ApplicationFormID_2'
		,ISNULL(b.Name,'') 'Name_2'
		,ISNULL(b.GenderID,0) 'GenderID_2'
		,ISNULL(b.HusbandFather,'') 'HusbandFather_2'
		,ISNULL(b.NICOP_CNIC,'') 'NICOP_CNIC_2'
		,ISNULL(b.Passport,'') 'Passport_2'
		,ISNULL(b.HouseNo,'') 'HouseNo_2'
		,ISNULL(b.StreetArea,'') 'StreetArea_2'
		,ISNULL(b.Area,'') 'Area_2'
		,ISNULL(b.City,'') 'City_2'
		,ISNULL(b.District,'') 'District_2'
		,ISNULL(b.Division,'') 'Division_2'
		,ISNULL(b.Province,'') 'Province_2'
		,ISNULL(b.Country,'') 'Country_2'
		,ISNULL(b.CorrespondenceAdressHouseNo,'') 'CorrespondenceAdressHouseNo_2'
		,ISNULL(b.StreetArea2,'') 'StreetArea2_2'
		,ISNULL(b.City2,'') 'City2_2'
		,ISNULL(b.Country2,'') 'Country2_2'
		,ISNULL(b.PhoneNo,'') 'PhoneNo_2'
		,ISNULL(b.Phone2,'') 'Phone2_2'
		,ISNULL(b.Phone3,'') 'Phone3_2'
		,ISNULL(b.Email,'') 'Email_2'
		,ISNULL(b.Profession,'') 'Profession_2'
		,ISNULL(b.SubProfession,'') 'SubProfession_2'
		,ISNULL(b.Living,'') 'Living_2'
		,ISNULL(b.Citizen,'') 'Citizen_2'
		,ISNULL(b.Tax,'') 'Tax_2'
		,ISNULL(b.NomioneeName,'') 'NomioneeName_2'
		,ISNULL(b.NomineeFatherHusbandName,'') 'NomineeFatherHusbandName_2'
		,ISNULL(b.Nominee_NICOP_CNIC,'') 'Nominee_NICOP_CNIC_2'
		,ISNULL(b.Relation,'') 'Relation_2'
		,ISNULL(b.ImagePath,'') 'ImagePath_2'
		,ISNULL(b.CreatedAt,'1900-01-01') 'CreatedAt_2'
		,ISNULL(b.CreatedBy,0) 'CreatedBy_2'
		,ISNULL(b.ModifiedAt,'1900-01-01') 'ModifiedAt_2'
		,ISNULL(b.ModifiedBy,0) 'ModifiedBy_2'
		,ISNULL(b.CompanyID,0) 'CompanyID_2'

	FROM            DVApplicationForm f
		--INNER JOIN DVApplicant a ON f.ApplicationFormID = a.ApplicationFormID
		INNER JOIN  DVProject p ON f.ProjectID = p.ProjectID 
		INNER JOIN  DVUnit u ON f.UnitID = u.UnitID AND p.ProjectID = u.ProjectID 
		INNER JOIN	DVUnitType ut  ON u.UnitTypeID = ut.UnitTypeID

		INNER JOIN (select * from dbo.fnDVFirstApplicantData(@ApplicationFormID)) a ON f.ApplicationFormID = a.ApplicationFormID
		INNER JOIN (select * from dbo.fnDVSecondApplicantData(@ApplicationFormID)) b ON f.ApplicationFormID = b.ApplicationFormID
	WHERE 
		f.ApplicationFormID = @ApplicationFormID


END

GO


exec spRptDVApplication 10
