
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 30-Jul-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spRptGeneralLedger]
	@CompanyID int,
	@StartDate date=null,
	@EndDate date=null,
	@StartGLAccountNo varchar(50)=null,
	@EndGLAccountNo varchar(50)=null

AS
BEGIN
	SET	NOCOUNT ON;

	SELECT        
		Company.CompanyID, 
		Company.Name 'Company', 
		GLAccount.GLAccountNo 'GLAccountNo', 
		GLAccount.Description 'Description', 
		GLVoucher.VoucherDate,
		VoucherType.VTYPE,
		GLVoucher.VoucherNumber,
		GLVoucherDetail.GLNarration,
		GLVoucherDetail.Debit 'Debit', 
		GLVoucherDetail.Credit 'Credit',
		(GLVoucherDetail.Debit - GLVoucherDetail.Credit) Balance
	  
	FROM  GLVoucherDetail INNER JOIN
		  GLVoucher ON GLVoucherDetail.GLVoucherID = GLVoucher.GLVoucherID INNER JOIN
		  GLAccount ON GLVoucherDetail.GLAccountID = GLAccount.GLAccountID INNER JOIN
		  Company ON GLVoucher.CompanyID = Company.CompanyID AND GLAccount.CompanyID = Company.CompanyID INNER JOIN 
		  VoucherType ON GLVoucher.VoucherTypeID = VoucherType.VoucherTypeID
	WHERE        
		Company.CompanyID = @CompanyID AND 
		(
			(GLAccount.GLAccountNo between @StartGLAccountNo and @EndGLAccountNo) OR (@StartGLAccountNo IS NULL AND @EndGLAccountNo IS NULL) 			
		) AND
		(
			(GLVoucher.VoucherDate between @StartDate and @EndDate) OR (@StartDate IS NULL AND @EndDate IS NULL)
		)
	ORDER BY GLAccount.GLAccountNo, GLVoucher.VoucherDate

END

go

exec spRptGeneralLedger 1
