USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spSecUserGetSearchList]    Script Date: 7/12/2024 5:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 10-Jun-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spSecUserGetSearchList]
	@CompanyID int,
	@UserID bigint,
	@Name varchar(200),
	@username varchar(200),
	@StatusTypeID smallint,
	@RoleID smallint
AS
BEGIN

	SET	NOCOUNT ON;

	SELECT
		u.UsersID,
		u.username,
		u.Name,
		r.RoleName,
		st.Name 'Status',
		u.CompanyID,
		c.Name 'CompanyName'
	FROM 
		SecUsers u
	INNER JOIN StatusType st ON u.StatusTypeID = st.StatusTypeID
	INNER JOIN SecRole r ON u.RoleID = r.RoleID 
	inner join Company c ON c.CompanyID = u.CompanyID
	WHERE
		(u.CompanyID = @CompanyID OR @CompanyID IS NULL)
	AND(u.UsersID = @UserID OR @UserID IS NULL)
    AND (u.RoleID = @RoleID OR @RoleID IS NULL)
	AND (u.Name like '%' + @Name + '%' OR ISNULL(@Name,'')='')
	AND (u.username like '%' + @username + '%' OR ISNULL(@username,'')='')
	AND (u.StatusTypeID = @StatusTypeID OR @StatusTypeID IS NULL)

END






