USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spUserPagesRights]    Script Date: 7/30/2024 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 14-Aug-2022
-- Description:	
-- ==========================================================================================

ALTER Procedure [dbo].[spUserPagesRights]
	@CompanyID int,
	@UserID int
AS
BEGIN
	SET NOCOUNT ON;

	with menuCTE
	AS
	(	 
		SELECT u.CompanyID, u.UsersID,u.username, p.ModuleNo, m.ModuleName, p.PageNo, p.PageName, p.PageUrl from SecModules m
		INNER JOIN SecPages p on p.ModuleNo = m.ModuleNo
		CROSS JOIN SecUsers u 
		--WHERE u.UsersID = @UserID AND u.CompanyID = @CompanyID
		
	)  

	SELECT 
		r.PageRightsID,
		m.CompanyID,
		m.UsersID,
		m.username,
		m.ModuleNo,
		r.ModuleOrderNo,
		m.ModuleName,		
		m.PageNo,
		r.PageOrderNo,
		m.PageName,		
		m.PageUrl,		
		r.IsViewAllowed,
		r.IsAddAllowed,
		r.IsEditAllowed,
		r.IsDeleteAllowed,
		r.IsPrintAllowed

	from 
		menuCTE m
	LEFT JOIN SecPagesRights r 
		ON m.ModuleNo  = r.ModuleNo and m.PageNo = r.PageNo and m.UsersID = r.UserID AND isnull(r.IsViewAllowed,0) > 0-- (r.IsViewAllowed > 0 AND r.IsViewAllowed IS NOT NULL)
	WHERE 
		m.CompanyID = @CompanyID AND
		m.UsersID = @UserID

END

