USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spGLAccountsForDropdown]    Script Date: 7/25/2024 2:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 25-Jul-2025
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spGLAccountsForDropdown]
	@CountryID int
AS
BEGIN
	select 
		GLAccountID, 
		GLAccountNo, 
		Description, 
		GLAccountNo + '    ' + Description DisplayText from GLAccount
WHERE 
	CompanyID =  @CountryID
		
END

go

exec spGLAccountsForDropdown 1


