USE [GL]
GO
/****** Object:  StoredProcedure [dbo].[spRptGLTrialBalance]    Script Date: 7/25/2024 5:40:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Created By:	Imran Amin
-- Create date: 23-Jul-2024
-- Description:	
-- ==========================================================================================

ALTER procedure [dbo].[spRptGLTrialBalance]
	@CompanyID int,
	@FiscalYear varchar(50)
AS
BEGIN

declare @CalanderMonth date 

declare @Year int
declare @Month int

select @Year = CONVERT(int, SUBSTRING(@FiscalYear,0,5))
select @Month = CONVERT(int, SUBSTRING(@FiscalYear,6,5))

select * 
into #FiscalYearSetup
from FiscalYearSetup
where FiscalYear = @Year and FiscalPeriod = @Month AND CompanyID = @CompanyID

select @CalanderMonth = CalanderMonth  from #FiscalYearSetup
drop table #FiscalYearSetup

-- End Get Calander Month


SELECT        
	Company.CompanyID, Company.Name, GLAccount.GLAccountNo, GLAccount.Description, 
		SUM(GLVoucherDetail.Debit) 'Debit', Sum(GLVoucherDetail.Credit) 'Credit',  
		SUM(GLVoucherDetail.Debit)-Sum(GLVoucherDetail.Credit) 'Total'
FROM  GLVoucherDetail INNER JOIN
                         GLVoucher ON GLVoucherDetail.GLVoucherID = GLVoucher.GLVoucherID INNER JOIN
                         GLAccount ON GLVoucherDetail.GLAccountID = GLAccount.GLAccountID INNER JOIN
                         Company ON GLVoucher.CompanyID = Company.CompanyID AND GLAccount.CompanyID = Company.CompanyID
WHERE        
		Company.CompanyID = 1 and GLVoucher.VoucherDate <= @CalanderMonth
group by Company.CompanyID, Company.Name, GLAccount.GLAccountNo, GLAccount.Description



END

exec spRptGLTrialBalance 1 , '2025-1'